html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, #1E1E1E, #2C3E50);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: top;
}

.App-home{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  overflow: hidden;
}

.App-home-text {
  background-image: linear-gradient(to bottom right, #1E1E1E, #2C3E50);
  background-size: 100vw 100vh;
  background-position: center;
  border: 1px solid #82614a;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #d0bca0;
  padding: 10px;
  padding-top: 0px;
  z-index: 2;
}

.App-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #82614a;
  display: flex;
  justify-content: right;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.App-logo{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}


button, a {
  text-decoration: none;
  color: #d0bca0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: none;
  padding-right: 30px;
  border: none;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.App-projects{
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 65px;
}

.App-projects-table {
  display: flex;
  color: #d0bca0;
  justify-content: center;
  width: 100%;
  height: auto;
  overflow: auto;
  padding-bottom: 60px;
}

table {
  text-align: left;
  width: 95%;
  
}

.language {
  text-align: center;
}

thead {
  text-align: center;
}


a:hover {
  color: #f3e3cd;
}

button.active, a.active {
  color: #f3e3cd;
  text-decoration: underline;
  text-underline-offset: 18px;
}

.App-link {
  color: #61dafb;
}

.code-symbol-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.symbol-character {
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  opacity: 0.8;
  animation: float 5s ease-in-out infinite; 
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}